@charset "ISO-8859-1";





@media only screen and (min-width: 300px) {
.container-information{
    background-color: #004085;
    height:1200px;
    color: white;
    font-size: 20px;
    padding-left: 100px;

}
}

@media only screen and (min-width: 768px) {

#inputsubscription{

width:600px;
}
}

.container-information{
    background-color:#004085;
    height:300px;
    color: white;
    font-size:20px;
    padding-left:100px;
}
@media only screen and (min-width: 768px) and(max-width:1000px) {

#container-footer{
    height: 900px;
    background-color:black;
    width: auto;
    color: whitesmoke;
}


}
